//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 09 11:24:14 2016
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "J15" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "RESET" LOCATE = SITE "H13" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

